
/* .scroll{
    padding: 20px;
    font: 14pt;
    border: solid  rgba(0, 0, 0, 0.068) 1px;
    border-top: none;
}
.scroll p{
    margin:0;
    max-height: 135px;
    overflow: auto;
    opacity: 0.6;
} */

/* Scroll STYLE */

 .scroll p::-webkit-scrollbar-track
 {
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 .scroll p::-webkit-scrollbar
 {
     width: 7px;
     background-color: #F5F5F5;
 }
 
 .scroll p::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #95e1d3;
 }
