 .peoplesay{
    background-image: url(../../assets/images/peoplesay.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
 .clients{
    margin: auto 90px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .clients .clients-item{
    margin: 30px;
    margin-right: 0;
    padding-left: 90px ;
    display: flex;
    width: 800px;
}

.item-ab{
    margin-left: 15px;
}
.clients .clients-item .item-pic{
    top: 0;
    left: -35px;
    z-index: 1;
}

.clients-item .item-name{
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    opacity: 0.7;
}
.clients-item .item-proff{
    opacity: 0.7;
    font-style: italic;
}
.clients .clients-item .item-proff:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    opacity: 1;
}
.clients-item .item-lorem{
    opacity: 0.5;
    font-size: 17px;
    line-height: 1.5;
}

/*-----------------------------------------------------------*/
/* 

.sec2{
    margin: auto 90px;
}
.sec2 .clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 10px 0 20px;
}
/*
.sec2 .clients .clients-item{
    margin-right: 70px;
    position: relative;
    padding-left: 90px ;
    flex: 1 1 0;
    width: 520px;
}

.clients .clients-item .item-pic{
    position: absolute;
    top: 0;
    left: -35px;
    z-index: 1;
}

.clients-item .item-name{
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    opacity: 0.7;
}
.clients-item .item-proff{
    opacity: 0.7;
    font-style: italic;
}
.clients .clients-item .item-proff:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 25px auto;
    background-color: #f38181;
    opacity: 1;
}
.clients-item .item-lorem{
    opacity: 0.5;
    font-size: 17px;
    line-height: 1.5;
} */
